@media (min-width: 600px) {.container-notes {
	display: grid;
	grid-gap: 0.4em;
	grid-template-columns: 25vw 74vw;
	grid-template-areas:
		"menu notes";
}

.note-list {
	padding-top: 5em;
	padding-left: 1em;
	grid-area: notes;
}

.menu {
	grid-area: menu;
	background-color: #171717;
	position: fixed;
	height: 100vh;
	width: 25vw;
	left: 0%;
	top: 0%;
	z-index: 2;
}

.menu-opciones {
	position: relative;
	top: 12vh;
	display: flex;
	color: white;
	flex-direction: column;
	align-content: space-between;
	height: 70vh;
}

.menu-opciones>li {
	margin-top: 2em;
	display: flex;
	align-items: center;
	height: 10vh;
	position: relative;
	left: -1em;
}
.menu-opciones>li:nth-child(1){
	height: auto;
}
.menu-opciones>li>button {
	background-color: #7e2ae6;
	border-radius: 10px;
}

.NoFound {
	position: absolute;
	font-size: 4.5rem;
	display: flex;
	justify-content: center;
	left: 30%;
}}
@media (max-width: 800px) { 
	.container-notes{
		grid-template-columns: 35vw 64vw;
	}
	.menu{
		width: 35vw;
	}
	.menu-opciones>li {
		height: 40px;
		border-radius: 10px;
	}
}