.note-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 0.1fr));
	grid-template-rows: repeat(auto-fit, minmax(230px, 0.01fr));
	height: 100vh;
	overflow-y: scroll;
}

.note {
	padding: 0.8em;
	color: white;
	background-color: #171717;
	max-width: 320px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0px 10px 13px -7px #000000, -7px -8px 50px -30px rgba(0, 0, 0, 0);
	height: 230px;
	overflow: hidden;
}

.titulo-nota {
	width: 270px;
	height: 42px;
	color: white;
	border: none;
	box-shadow: none;
	outline: none;
	border-radius: 0%;
	border-bottom: gray 1px solid;
	display: inline-flex;
	align-items: center;
}

.titulo-nota>h5 {
	width: 200px;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.titulo-nota>button {
	position: relative;
	left: 1.5em;
}

.title-form-note {
	position: relative;
	width: 25vw;
}

.descripcion-nota {
	color: white;
	resize: none;
	min-height: 20vh;
	position: relative;
	overflow-y: auto;
}

.fecha-nota {
	display: flex;
	align-self: flex-end;
	font-size: 15px;
	color: rgb(92, 91, 91);
}

.form-notes {
	display: flex;
	align-content: space-around;
	height: 230px;
}

.description-note {
	align-self: center;
	position: relative;
	display: flex;
	background-color: transparent;
	align-content: space-around;
	color: white;
	height: 110px;
	width: 270px;
	resize: none;
	padding: 0.5em;
	border: none;
}

.description-note:focus {
	outline: none;
}

.submit {
	display: flex;
	position: relative; 
	top: -0.2em;
	justify-content: space-around;
	color: white;
	display: flex;
	border-radius: 10px;
	border: none;
	width: 19vw;
	height: 5vh;
	background-color: blueviolet;
}

.borrar {
	display: flex;
	justify-content: center;
	align-content: center;
	border: none;
	cursor: pointer;
	width: 35px;
	height: 35px;
	font-size: 25px;
	background-color: transparent;
	/* background-color: rgb(150, 0, 0); */
}
.footer-note{
	display: inline-flex;
	align-content: space-between;
	justify-content: space-between;

}